*{
    padding: 0px;
    margin: 0px;  
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: white;
    color: #5f5f79;
}

header {
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

.logo-container, .darker-mode, .social-media{
    display: flex;
}

.logo-container {
    font-size: 30px;
    flex: 1;
}
.logo {
    font-weight: 400;
    margin: 5px;
}
nav {
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-links {
    flex: 6;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    justify-content: space-around;
}

.nav-link {
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 2px;
}

.darker-mode {
    flex: 1;
    justify-content: flex-end;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction, .why {
    flex: 1;
}
.intro-text h1{
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #585772, #585772);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p{
    margin: 5px;
    font-size: 22px;
}
.cover {
    flex: 1;
    display: flex;
    justify-content: center;height: 60vh;
}

.cover img{
    height: 100%;
    filter: drop-shadow(0px 5px 3px black);
    border-radius: 50px;
}

.about {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 40vh;
    align-items: center;
}

.why-text h2{
        font-size: 33px;
        font-weight: 500;
        background: linear-gradient(to right, #585772, #585772);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.why-text p{
        margin: 5px;
        font-size: 20px;
}

.footer {
    display: flex;
    width: 90%;
    height: 15vh;
    margin: auto;
    align-items: center;
}

.social-media {
    flex: 1;
    display: block;
}

.social-link {
    color: #5f5f79;
    font-size: 40px;
    text-decoration: none;
}

.madeBy {
    margin-bottom: 25px;
}

#darkBtn {
    color: #5f5f79;
    font-size: 20px;
}

@media screen and (max-width: 1024px) {
    .presentation, .about {
        flex-direction: column;
    }
    .introduction, .why, .carousel {
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1{
        font-size: 25px;
    }
    .intro-text p{
        font-size: 18px;
    }
    .why-text h2{
        font-size: 20px;
    }
    .why-text p{
        font-size: 15px;
    }
    .cover img{
        height: 80%;
    }
}


.dark-mode {
    background-color:black;
    color: whitesmoke;
}

.carousel-container {
    width: 45%;
    margin: auto;
    border: 4px solid black;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 500px;
}

#prevBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

