nav {
    position: sticky;
    top: 0;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

body {
    font-family: sans-serif;
    text-align: center;
    background-color: white;
    color: black
}

section {
    justify-content: center;
}

.socialIcons {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer {
    position: relative;
    box-shadow: 5px 10px 10px 0;
}

.center {
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-items: center;
    justify-self: center;
    justify-content: center;
    place-items: center;
    vertical-align: middle;
    line-height: 100%;
    margin: auto;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%)
}

.dark-mode {
    background-color: black;
    color: white; 
}
*{
    padding: 0px;
    margin: 0px;  
    box-sizing: border-box;
}

.carousel-container {
    width: 36%;
    margin: auto;
    border: 5px solid black;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 500px;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 4px;
}

#prevBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 5%;
    font-size: 30px;
    color: white;
    opacity: 0.7;
    cursor: pointer;
}

#nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 5%;
    font-size: 30px;
    color: white;
    opacity: 0.7;
    cursor: pointer;
}

